.container
  #map-canvas
  = image_tag 'yelp_logo.png', id: 'yelp-logo'
  = image_tag 'refresh.png', id: 'refresh-results'
  #current-search-type
    = image_tag 'black-circle.png', id: 'search-options-open', class: 'hidden'
    = image_tag 'coffee.png', id: 'coffee-current-search', class: 'hidden'
    = image_tag 'beer.png', id: 'bars-current-search', class: 'hidden'
    = image_tag 'restaurant.png', id: 'restaurants-current-search'
  %ul.actions.hidden
    %li
      = image_tag 'coffee.png', id: 'coffee-search'
    %li
      = image_tag 'beer.png', id: 'bars-search'
    %li
      = image_tag 'restaurant.png', id: 'restaurants-search'