<div class = 'info-window' id='{{yelp_id}}'>
  <div class='business-name'>
    <a target='_blank' href='{{googleMapsQuery}}'>{{name}}</a>
  </div>
  {{#if price_range}}
    <div class='price-range'>{{price_range}}</div>
  {{/if}}
  {{#if todays_hours}}
    <div class='todays-hours'>{{todays_hours}}</div>
  {{/if}}
  <img src='{{rating_image_url}}'></img>
  <div class='review-count'>
    <a target='_blank' href='{{yelp_page_url}}'>
      {{#if oneReview}}
        {{yelp_review_count}} review
      {{else}}
        {{yelp_review_count}} reviews
      {{/if}}
    </a>
  </div>
  <div class='business-categories'>
    {{categories_string}}
  </div>
</div>