<div class = 'info-window'>
  <div class='business-name'>{{name}}</div>
  <img src='{{rating_image_url}}'></img>
  <div class='review-count'>
    <a target='_blank' href='{{yelp_page_url}}'>
      {{yelp_review_count}} reviews
    </a>
  </div>
  <div class='business-categories'>
    {{categories_string}}
  </div>
</div>